<div id="login" class="text-center">
  <div class="col-md-6 mx-auto text-center">
    {{!-- <div class="header-title">
      <h1 class="wv-heading--title text-center">Welcome back to VIRA!</h1>
    </div> --}}
  </div>

<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="myform form ">
      <form action="/login" method="POST" id="basic-form-container" class="container">
  
        <label for="username">Username</label>
        <br>
        <input id="username" type="text" name="username" placeholder="TobiasFunke">
        <br><br>
        <label for="password">Password</label>
        <br>
        <input id="password" type="password" name="password" placeholder="Your password">

        {{#if message}}
          <div class="error-message">{{ message }}</div>
        {{/if}}

        <br><br>

        <div>
          <button class="btn btn-raised btn-primary" value="Log In" type="submit">Log In</button>
        </div>

      

        <p class="account-message">Don't have an account yet? 
          <br>
          <a href="/signup">Get started today!</a>
        </p>
      </form>
    </div>
  </div>
</div>