
<br><br>

<p>Welcome to {{title}}</p>

<br><br>

<label for="Top Stories">Top Stories</label>

{{#each storiesToHBS}}
  <div class="responsive story">
    <img src="{{this.image}}">
    <a href="story" class="bottomRight"><div>{{title}}</div></a>
  </div>
{{else}}
  <p>There are no posts to show right now!</p>
{{/each}}


<br><br>

<label for="Trending">Trending</label>
<div class="resonsive">
  <div>your content</div>
  <div>your content</div>
  <div>your content</div>
</div>

<br><br>

<label for="For You">For You</label>
<div class="resonsive">
  <div>your content</div>
  <div>your content</div>
  <div>your content</div>
</div>

<br><br>

<label for="Newest Stories">Newest Stories</label>
<div class="resonsive">
  <div>your content</div>
  <div>your content</div>
  <div>your content</div>
</div>




