<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<label for="Top Stories">Top Stories</label>
<div class="responsive">
  <div>your content</div>
  <div>your content</div>
  <div>your content</div>
</div>

<br><br>

<label for="Trending">Trending</label>
<div class="resonsive">
  <div>your content</div>
  <div>your content</div>
  <div>your content</div>
</div>

<br><br>

<label for="For You">For You</label>
<div class="resonsive">
  <div>your content</div>
  <div>your content</div>
  <div>your content</div>
</div>

<br><br>

<label for="Newest Stories">Newest Stories</label>
<div class="resonsive">
  <div>your content</div>
  <div>your content</div>
  <div>your content</div>
</div>




