
<br><br>

<br><br>

<h2>Top Stories</h2>
 
{{#each storiesToHBS}}
  <div class="responsive story container-fluid">
    <img src="{{image}}">
    <a href="story/{{_id}}" class="bottomRight"><div>{{title}}</div></a>
  </div>
{{else}}
  <p>There are no posts to show right now!</p>
{{/each}}


<br><br>

<label for="Trending">Trending</label>
<div class="resonsive">
  <div>your content</div>
  <div>your content</div>
  <div>your content</div>
</div>

<br><br>

<label for="For You">For You</label>
<div class="resonsive">
  <div>your content</div>
  <div>your content</div>
  <div>your content</div>
</div>

<br><br>

<label for="Newest Stories">Newest Stories</label>
<div class="resonsive">
  <div>your content</div>
  <div>your content</div>
  <div>your content</div>
</div>




