<h2>Profile</h2>

<h2>{{this.username}}username</h2>

<img src="/images/defaultUser.jpeg">

<br><br>

<label for="reputation">Reputation: </label>

<br><br>

<label for="myStories">My Stories</label>

