<h2>{{user.username}}</h2>

<img src="/images/defaultUser.jpeg">

<button>Edit Photo</button>

<br><br>



<label for="reputation">Reputation: </label>

<br><br>

<label for="myStories">My Posted Stories</label>

{{#each stories}}
  <li>{{title}} 
      <form action="delete/{{_id}}" method="POST">
        <button>Delete</button>
      </form>
  </li>
{{/each}}
{{!-- for each of the posted stories, also include a delete function! --}}

<br><br>

<label for="myStories">My Saved Stories</label>

