<div class="story">
  <img>Story image
  <br><br>

  <label for="title">Title</label>
  <br><br>
  

  <label for="description">Description</label>
  <br><br>
  <br><br>

  <label for="sources">Sources</label>
  <br><br>

  <label for="points">Points</label>
  <br><br>

</div>

<div class="comments">
  <label for="comment">Comment</label>
  <br><br>
  <input id="comment" type="comment" name="comment" placeholder="Insert comment here">
  <br><br>

  <button>Submit</button>
  <br><br>
  <br><br>

  <label for="comments">All Comments</label>
</div>

