<div class="story">
  <img src="{{story.image}}">Story image
  <br><br>

  <label for="title">Title {{story.title}}</label>
  <br><br>
  

  <label for="description">Description{{story.description}}</label>
  <br><br>
  <br><br>

  <label for="sources">Sources {{story.sources}}</label>
  <br><br>

  <label for="points">Points</label>
  <br><br>

</div>

<div class="comments">
  <label for="comment">Comment</label>
  <br><br>
  <input id="comment" type="comment" name="comment" placeholder="Insert comment here">
  <br><br>

  <button>Submit</button>
  <br><br>
  <br><br>

  <label for="comments">All Comments</label>
</div>

