<h2>Upload New Story</h2>
<br>

<form action="/upload" method="POST" id="form-container" enctype="multipart/form-data">
  <label for="title">Title</label>
  <br>
  <textarea id="title" type="title" name="title" placeholder="Insert title here"rows="1.5" cols="30"></textarea>
  <br><br>

  <label for="description">Description</label>
  <br>
  <textarea id="comment" type="comment" name="comment" placeholder="Insert story here"rows="5" cols="50"></textarea>

  {{#if message}}
    <div class="error-message">{{ message }}</div>
  {{/if}}
  <br><br>

  {{!-- <label for="images">Image</label>
  <br><br>
  <input id="images" type="image" name="image" placeholder="Images here">
  <br><br>

  <button>Submit</button> --}}

  <label for="image">Image</label>
  <br>

  <input type="file" name="photo">
  <br><br><br>
  
  <input type="submit" value="Save">

</form>