* {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  font-size: 1.3em;
}

input {
  border-radius: 5px;
}

.story {
  padding: 10px 0;
  position: relative;
}

.story img {
  width: auto;
  max-height: 600px;
}

.bottomRight {
  position: absolute;
}

.btn-primary, .g-button {
  background-color: #BE8CBE;
}

.card p {
 padding: 20px 0px;
 text-align: center;
}

.card-body {
  margin: 0 auto;
}

.card-title a {
  color: white;
  text-shadow: 1px 1px rgb(106, 108, 112);
}


#signup, #login {
  height: 100%;
  background-image: url('../images/signup.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
  height: 100%;
  color: white;
  text-shadow: 1px 1px rgb(106, 108, 112);
}

#signup h1, #login h1, .benefits {
  padding-top: 50px;
}

#basic-form-container, #google-form-container, #signup label, #login label {
  padding: 10px 0px;
}




