
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  min-height: 100vh;
  position: relative;
}
footer{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

.container {
  margin: 0px auto;
}

.story-card img {
  width:100%;
  object-fit: contain;
  max-height: 500px;
}

.profilePic{
  background-size: contain;
  width:400px;
  height:400px;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #eee;
}

input {
  border-radius: 5px;
}

.story img {
  width: auto;
  max-width: 800px;
  height: 500px;
  max-height: 700px;
}

.story-card {
  margin-bottom: 5px;
}

.saved{
  animation:fadeOut 2s forwards;
  position: fixed;
  bottom: 0;
  font-size: 20px;
  background:lightgreen;
  padding: 20px;

}

@keyframes fadeOut { 
  0% { opacity: 1; } 100% { opacity: 0; } 
} 

#signup, #login {
  justify-content: center;
  text-align: center;
  padding: 200px 0px;
  background-color: #F0F0F2;
}

#story-img {
  display: flex;
  justify-content: center;
}

#storyImg {
  width: 100%;
  object-fit: contain;
  max-height: 500px;
}

#storyComments {
  list-style-type: none;
  text-indent: 20px;
}

.noStyle {
  list-style-type: none;
  text-indent: 20px;
}

.jumbotron {
  padding: 0px 5px;
  margin: 0;
}

